#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.profile-img {
    min-width: 20px;
    max-width: 26px;
}
.container {
    padding-top: 72px;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1060;
    background: rgba(0, 0, 0, 0.6);
}

.navbar-fixed-top {
    position: fixed !important;
    right: 0;
    left: 0;
    z-index: 1000;
}

.icons {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2rem;
}
.icon {
    border-radius: 0.25rem;
    border: black solid;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.icon-size {
    font-size: 5rem;
}

.icon p {
    margin-top: 1.5rem;
}

.navbar {
    z-index: 997;
    padding-bottom: 0rem !important;
    padding-top: 0rem !important;
    background: #37517e;
    flex-shrink: 0;
}
@media (max-width: 992px) {
    .navbar-expand-lg {
        padding-bottom: 1rem !important;
        padding-top: 1rem !important;
    }
}
.navbar .header-scrolled,
.navbar .header-inner-pages {
    background: rgba(40, 58, 90, 0.9);
}

.navbar-brand {
    font-size: 30px !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1 !important;
    font-weight: 500 !important;
    letter-spacing: 2px !important;
    text-transform: uppercase !important;
}

.navbar-brand a {
    color: #fff;
}

.navbar-brand img {
    max-height: 40px;
}

.navbar-collapse {
    width: 100%;
    background: #37517e;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 20px 20px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar-toggler {
    color: white;
    font-size: 1.5rem;
    border: white solid 1px !important;
    border-radius: 0.25rem !important;
    transition: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}
.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
    color: #47b2e4 !important;
}

.navbar .login {
    padding: 8px 20px;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    border: 2px solid #47b2e4;
    font-weight: 600;
}

.navbar .login:hover {
    color: #fff !important;
    background: #31a9e1;
}

.navbar .dropdown ul a {
    font-size: 18px;
    text-transform: none;
    font-weight: 500;
    color: #0c3c53;
    padding: 10px 0 10px 10px;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
    color: #47b2e4;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.2rem !important;
        padding-left: 1.2rem !important;
    }
}
.content {
    flex: 1 0 auto;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    background: #37517e;
}

.hero .container {
    padding-top: 72px;
}

.hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

.hero h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
}

.btn-get-started {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4;
}

.btn-get-started:hover {
    color: #fff;
    background: #209dd8;
}

.hero .btn-watch-video {
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    margin: 10px 0 0 25px;
    color: #fff;
    line-height: 1;
}

.hero .btn-watch-video i {
    line-height: 0;
    color: #fff;
    font-size: 32px;
    transition: 0.3s;
    margin-right: 8px;
}

.hero .btn-watch-video:hover i {
    color: #47b2e4;
}

.hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.hero .hero-img img {
    width: 75%;
    float: right;
}

@media (max-width: 991px) {
    .hero {
        height: 100vh;
        text-align: center;
    }
    .hero .animated {
        -webkit-animation: none;
        animation: none;
    }
    .hero .hero-img {
        text-align: center;
    }
    .hero .hero-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    .hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    .hero .hero-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    .hero .hero-img img {
        /* width: 80%; */
    }
    .hero .btn-get-started {
        font-size: 16px;
        padding: 10px 24px 11px 24px;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

/*--------------------------------------------------------------
# Support
--------------------------------------------------------------*/
.section-title {
    text-align: center;
    padding-bottom: 30px;
}
.support .container {
    padding-top: 3.5rem;
    padding-bottom: 4.5rem;
}
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}

.section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #cc2973;
    bottom: 0;
    left: calc(50% - 20px);
}

.support img {
    max-width: 45%;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    filter: grayscale(100);
}

.support img:hover {
    filter: none;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .support img {
        max-width: 40%;
    }
}

/*********************/
/*     Section    */
/*********************/
.section {
    position: relative;
}

.section .container {
    padding-top: 4.5rem;
}

.section div[class*='col'] {
    position: relative;
}

.section .image-container {
    margin-bottom: 5rem;
}

.section h2 {
    margin-bottom: 1.875rem;
}

.section .list-unstyled {
    margin-bottom: 2rem;
}

.section .list-unstyled .bi {
    color: #cc2973;
    font-size: 0.4rem;
    margin-top: 0.8rem;
}

.section .list-unstyled .flex-grow-1 {
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    font-size: 14px;
    height: 100px;
    background: #37517e;
    flex-shrink: 0;
}
.social-links a {
    font-size: 18px;
    display: inline-block;
    background: #47b2e4;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.social-links a:hover {
    background: #209dd8;
    color: #fff;
    text-decoration: none;
}

#footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}

#footer .copyright {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

#footer .credits {
    float: right;
    padding-left: 0.5rem;
    font-size: 13px;
}

@media (max-width: 768px) {
    #footer .footer-bottom {
        padding-top: 20px;
        padding-bottom: 5px;
    }
    #footer .copyright,
    #footer .credits {
        display: block;
        text-align: center;
        float: none;
    }
    #footer .credits {
        padding-top: 4px;
    }
}

/* .login-page {
    padding-top: 4rem;
} */

.login-page-img {
    width: 55%;
}

.section .card img {
    max-width: 60%;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    div .row .hideOnTablet {
        display: none !important;
    }
}

/* Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (device-width: 768px) {
    /* For general iPad layouts */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
    div .row .hideOnTablet {
        display: none !important;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* For landscape layouts only */
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    background-color: white;
    text-align: left;
    border-top: none;
    max-height: 350%;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 15%;
    right: 0;
    overflow-y: scroll;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.input-group .badge {
    border-radius: 0.25rem !important;
    height: 24px !important;
}

.max-z {
    z-index: 9999;
}
