<html>
    <head>
        <title>SMU Study Buddy</title>
        <link rel="shortcut icon" type="image/png" href="/img/logo.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <script src="/dist/bundle.js"></script>
        <link rel="stylesheet" href="/css/bootstrap-icons.css" />
        <link rel="stylesheet" href="/css/custom.css">
    </head>

    <body>
        <div id="app">
            <navbar-component></navbar-component>
            <loading-component v-show="isLoading"></loading-component>
            <div class="content">
                <google-map></google-map>
            </div>
            <footer-component></footer-component>
        </div>
    </body>
    <script>
        const app = Vue.createApp({
            el: '#app',
            data() {
                return {};
            },
            mounted() {
                // this.isLoading = true;
            },
            methods: {},
        });
        app.component('google-map', googleMap);
        app.component('navbar-component', navbar);
        app.component('loading-component', loadingPage);
        app.component('footer-component', footer);
        app.mount('#app');
    </script>
    <!-- <script
        defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh3KACE6lIrQ3LybwH_r-didxJZVBDYV4&callback=initMap"
    ></script> -->
    <!-- <script src="https://unpkg.com/vue3-google-map"></script> -->
</html>
