<html>
    <head>
        <title>SMU Study Buddy</title>
        <link rel="shortcut icon" type="image/png" href="/img/logo.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <script src="/dist/bundle.js"></script>
        <link rel="stylesheet" href="/css/bootstrap-icons.css" />
        <link rel="stylesheet" href="/css/custom.css" />
        <link rel="stylesheet" href="/css/toast.css" />
    </head>

    <body>
        <div id="app">
            <navbar-component></navbar-component>
            <loading-component v-show="isLoading"></loading-component>
            <div class="content">
                <div class="container">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" v-model="address" />
                        <label for="floatingInput">Address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input
                            type="date"
                            class="form-control"
                            id="floatingDate"
                            placeholder="Date"
                            :min="date.min"
                            :max="date.max"
                            v-model="date['chosen']"
                        />
                        <label for="floatingDate">Date</label>
                    </div>
                    <button type="button" class="btn btn-primary mb-3" @click="getPlace()">Get weather</button>

                    <table class="table" v-if="weatherData !== null">
                        <tbody>
                            <tr>
                                <th scope="row">Weather</th>
                                <td>
                                    <p class="text-capitalize">{{ dailyWeather['weather'][0]['description'] }}</p>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Temperature</th>
                                <td>
                                    <p class="text-capitalize" v-for="(value, key) in dailyWeather['temp']">
                                        {{ key }}: {{ value }}°C
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Temperature feel like</th>
                                <td>
                                    <p class="text-capitalize" v-for="(value, key) in dailyWeather['feels_like']"
                                        >{{ key }}: {{ value }}°C
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <footer-component></footer-component>
        </div>
    </body>
    <script>
        const app = Vue.createApp({
            el: '#app',
            data() {
                return {
                    address: '',
                    date: {
                        min: null,
                        max: null,
                        chosen: null,
                    },
                    loader: null,
                    weatherData: null,
                    dailyWeather: null,
                };
            },
            mounted() {
                this.setUpDates();
            },
            methods: {
                formatDateString(date) {
                    let dd = date.getDate();
                    let mm = date.getMonth() + 1;
                    let yyyy = date.getFullYear();
                    return `${yyyy}-${mm}-${dd}`;
                },
                setUpDates() {
                    let min_date = new Date();
                    console.log();
                    this.date.min = this.formatDateString(min_date);
                    let max_date = new Date();
                    max_date.setDate(new Date().getDate() + 7);
                    this.date.max = this.formatDateString(max_date);
                    this.date.chosen = this.formatDateString(min_date);
                },
                async getPlace() {
                    if (this.address.length === 0) {
                        toast('Please key in an address!', {
                            position: 'top-right',
                            type: 'danger',
                            showIcon: 'true',
                        });
                        return;
                    }
                    let { data: googleAPIKey } = await axios.get('../services/GetGoogleAPI');
                    let { data: weatherAPIKey } = await axios.get('../services/GetWeatherAPI');

                    if (!googleAPIKey || !weatherAPIKey) {
                        console.log('Error getting API keys');
                        return;
                    }
                    this.loader = new mapLoader({
                        apiKey: googleAPIKey,
                        version: 'weekly',
                        libraries: ['places'],
                    });

                    await this.loader.load();

                    let geocoder = new google.maps.Geocoder();
                    let geocode = await geocoder.geocode({ address: this.address });
                    const { lat: latFn, lng: lngFn } = geocode.results[0].geometry.location;
                    let lat = latFn();
                    let lng = lngFn();

                    let weatherRes = await axios.post(
                        `https://api.openweathermap.org/data/2.5/onecall?lat=${lat}&lon=${lng}&exclude=&appid=${weatherAPIKey}&units=metric`
                    );
                    this.weatherData = weatherRes.data;

                    let daysAfter = new Date(this.date.chosen);
                    let dateDiff = daysAfter.getDate() - new Date().getDate();

                    let dailyWeather = weatherRes.data.daily[dateDiff];
                    this.dailyWeather = dailyWeather;
                },
            },
        });
        app.component('navbar-component', navbar);
        app.component('loading-component', loadingPage);
        app.component('footer-component', footer);
        app.mount('#app');
    </script>
</html>
