<html>
    <head>
        <title>Express</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/toast.css" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <script src="/dist/bundle.js"></script>
        <link rel="stylesheet" href="/css/bootstrap-icons.css" />
    </head>

    <body>
        <div id="app">
            <navbar-component></navbar-component>
            <loading-component v-show="isLoading"></loading-component>
            <connect-modal-component
                ref="modal"
                v-show="isModalOpen"
                v-on:closemodal="closeModal()"
                v-on:refresh="getAllUsers()"
                v-on:isloading="changeLoading()"
            ></connect-modal-component>
            <div class="content mb-4">
                <div class="container">
                    <br />
                    <h3>Available Study Buddy</h3>
                    <div class="w-100 d-flex flex-column justify-content-center align-items-center my-auto">
                        <ul class="list-group w-100">
                            <template v-for="oneUser in userAvailable">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col"
                                            >{{oneUser.name}} <br />
                                            {{oneUser.school}} <br />
                                            {{oneUser.course}}</div
                                        >
                                        <div class="text-end col-4"
                                            >{{oneUser.similarity}}%
                                            <br />
                                            <br />
                                            <button
                                                type="button button-sm"
                                                @click="showModal(oneUser.uid, oneUser.name)"
                                                class="btn btn-outline-primary"
                                            >
                                                <i class="bi bi-book"></i>&nbsp Connect</button
                                            >
                                        </div>
                                    </div>
                                </li>
                            </template>
                            <li v-if="userAvailable.length==0" class="list-group-item"
                                >There isn't any user right now. We are working on getting more user.</li
                            >
                        </ul>
                    </div>
                </div>
            </div>
            <footer-component></footer-component>
        </div>
    </body>
    <script>
        const app = Vue.createApp({
            el: '#app',
            data() {
                return {
                    isLoading: false,
                    userAvailable: [],
                    isModalOpen: false,
                };
            },
            mounted() {
                this.isLoading = true;
                let getData = [this.getAllUsers()];
                Promise.all(getData).then(() => {
                    this.isLoading = false;
                });
            },
            methods: {
                changeLoading() {
                    this.isLoading = !this.isLoading;
                },
                closeModal() {
                    this.isModalOpen = false;
                },
                showModal(uid, name) {
                    this.isModalOpen = true;
                    console.log(uid);
                    this.$refs.modal.uid = uid;
                    this.$refs.modal.name = name;
                },
                getAllUsers() {
                    this.isModalOpen = false;
                    this.isLoading = true;
                    return axios
                        .get('../services/GetAllUsers')
                        .then(({ data }) => {
                            this.userAvailable = data.users;
                            this.isLoading = false;
                        })
                        .catch((error) => {
                            console.log(error);
                            this.isLoading = false;
                        });
                },
            },
        });
        app.component('connect-modal-component', connectModalComponent);
        app.component('navbar-component', navbar);
        app.component('loading-component', loadingPage);
        app.component('footer-component', footer);
        app.mount('#app');
    </script>
</html>
