<html>
    <head>
        <title>SMU Study Buddy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <script src="/dist/bundle.js"></script>
        <link rel="stylesheet" href="/css/bootstrap-icons.css" />
        <!-- Firebase Package-->
        <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
        <!-- Loads the login UI elements-->
        <script src="https://www.gstatic.com/firebasejs/ui/4.8.1/firebase-ui-auth.js"></script>
        <link
            type="text/css"
            rel="stylesheet"
            href="https://www.gstatic.com/firebasejs/ui/4.8.1/firebase-ui-auth.css"
        />
    </head>

    <body>
        <div id="app">
            <navbar-component></navbar-component>
            <loading-component v-show="isLoading"></loading-component>
            <div class="content">
                <section class="section">
                    <div class="container">
                        <div class="row h-100 justify-content-center align-items-center">
                            <div class="col-lg-6 col-xl-5 d-none d-sm-none d-md-block hideOnTablet">
                                <div class="image-container text-center">
                                    <img class="img-fluid login-page-img" src="/img/login.png" alt="alternative" />
                                    <h2 class="text-center">Your gateway to your new friendship</h2>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-7">
                                <div class="text-container text-center">
                                    <h2 class="text-center">Sign in</h2>
                                    <div id="firebaseui-auth-container"></div>
                                    <p class="text-danger">{{errorMessage}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <footer-component></footer-component>
        </div>
    </body>
    <script>
        const app = Vue.createApp({
            el: '#app',
            data() {
                return {
                    isLoading: false,
                    errorMessage: '',
                    config: {
                        apiKey: '',
                        authDomain: '',
                        projectId: '',
                        storageBucket: '',
                        messagingSenderId: '',
                        appId: '',
                    },
                    uiConfig: {
                        signInOptions: [
                            // Google sign in option
                            firebase.auth.GoogleAuthProvider.PROVIDER_ID,
                        ],
                        signInFlow: 'popup',
                        callbacks: {
                            signInFailure: (error) => {
                                this.setErrorMessage('There was a problem with your login. Please try again later');
                                return Promise.resolve();
                            },
                            signInSuccessWithAuthResult: (authResult, redirectUrl) => {
                                // User successfully signed in.
                                this.isLoading = true;
                                this.errorMessage = '';
                                authResult.user
                                    .getIdToken()
                                    .then((idToken) => {
                                        window.location.href = '/user/savecookie?idToken=' + idToken;
                                    })
                                    .catch((error) => {
                                        this.setErrorMessage(
                                            'There was a problem with your login. Please try again later'
                                        );
                                    });
                            },
                        },
                    },
                };
            },
            mounted() {
                this.isLoading = true;
                let getData = [this.getGoogleData()];
                Promise.all(getData).then(() => {
                    this.setFirebaseConfig();
                });
            },
            methods: {
                setErrorMessage(msg) {
                    this.isLoading = false;
                    this.errorMessage = msg;
                },
                getGoogleData() {
                    return axios
                        .get('../services/GetGoogleData')
                        .then(({ data }) => {
                            this.errorMessage = '';
                            this.config.apiKey = data.apiKey;
                            this.config.authDomain = data.authDomain;
                            this.config.projectId = data.projectId;
                            this.config.storageBucket = data.storageBucket;
                            this.config.messagingSenderId = data.msgSenderId;
                            this.config.appId = data.appId;
                            this.isLoading = false;
                        })
                        .catch((error) => {
                            this.setErrorMessage('There was a problem with your login. Please try again later');
                        });
                },
                setFirebaseConfig() {
                    firebase.initializeApp(this.config);
                    firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);
                    // Initialize the FirebaseUI Widget using Firebase.
                    var ui = new firebaseui.auth.AuthUI(firebase.auth());
                    // The start method will wait until the DOM is loaded.
                    if (ui.isPendingRedirect()) {
                        this.isLoading = true;
                    } else {
                        this.isLoading = false;
                    }
                    ui.start('#firebaseui-auth-container', this.uiConfig);
                },
            },
        });
        app.component('navbar-component', navbar);
        app.component('loading-component', loadingPage);
        app.component('footer-component', footer);
        app.mount('#app');
    </script>
</html>
