<html>
    <head>
        <title>SMU Study Buddy</title>
        <link rel="shortcut icon" type="image/png" href="/img/logo.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/toast.css" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <script src="/dist/bundle.js"></script>
        <link rel="stylesheet" href="/css/bootstrap-icons.css" />
    </head>

    <body>
        <div id="app">
            <navbar-component></navbar-component>
            <rating-modal-component
                ref="ratingModal"
                v-show="isRatingModalOpen"
                v-on:isLoading="changeLoading()"
                v-on:closemodal="closeModal()"
                v-on:refresh="getAllUsers()"
            ></rating-modal-component>
            <loading-component v-show="isLoading"></loading-component>
            <connect-modal-component
                ref="modal"
                v-show="isModalOpen"
                v-on:closemodal="closeModal()"
                v-on:refresh="getAllUsers()"
                v-on:isLoading="changeLoading()"
            ></connect-modal-component>
            <div class="content mb-4">
                <div class="container">
                    <br />
                    <h3>Pending Study Buddy</h3>
                    <div class="w-100 d-flex flex-column justify-content-center align-items-center my-auto">
                        <ul class="list-group w-100">
                            <template v-for="oneUser in userAvailable">
                                <li @click="goToOtherProfile(oneUser.uid)" class="list-group-item clickable">
                                    <div class="row">
                                        <div class="col"
                                            >{{oneUser.name}} <br />
                                            <br />
                                            {{oneUser.school}} <br />
                                            <br />
                                            {{oneUser.course}}</div
                                        >
                                        <div class="text-end col-4"
                                            >Match Score: {{oneUser.similarity}}%
                                            <br />
                                            <br />
                                            <template v-if="oneUser.rating == null"> No ratings yet </template>
                                            <template v-else
                                                ><div class="rating">
                                                    <i
                                                        v-for="n in oneUser.rating"
                                                        class="bi bi-star-fill me-1 text-warning"
                                                    ></i>
                                                    <i
                                                        v-for="n in (5-oneUser.rating)"
                                                        class="bi bi-star me-1 text-warning"
                                                    ></i> </div
                                            ></template>
                                            <br />
                                            <br />
                                            <button
                                                v-if="oneUser.isPendingUserAction"
                                                type="button button-sm"
                                                @click.stop="showModal(oneUser.uid, oneUser.name)"
                                                class="btn btn-outline-primary"
                                            >
                                                <i class="bi bi-book"></i>&nbsp Connect</button
                                            >
                                        </div>
                                    </div>
                                </li>
                            </template>
                            <li v-if="userAvailable.length==0" class="list-group-item"
                                >You don't have any request. Go to dashboard to find one!</li
                            >
                        </ul>
                    </div>
                    <br />
                    <h3>Accepted Study Buddy</h3>
                    <div class="w-100 d-flex flex-column justify-content-center align-items-center my-auto">
                        <ul class="list-group w-100">
                            <template v-for="oneUser in acceptedUser">
                                <li @click="goToOtherProfile(oneUser.uid)" class="list-group-item clickable">
                                    <div class="row">
                                        <div class="col"
                                            >{{oneUser.name}} <br />
                                            <br />
                                            {{oneUser.school}} <br />
                                            <br />
                                            {{oneUser.course}}<br />
                                            <br />
                                            <a :href="'https://t.me/'+oneUser.telegram" target="_blank"
                                                >@{{oneUser.telegram}}</a
                                            ></div
                                        >
                                        <div class="text-end col-4"
                                            >{{oneUser.similarity}}%
                                            <br />
                                            <br />
                                            <template v-if="oneUser.rating == null"> No ratings yet </template>
                                            <template v-else
                                                ><div class="rating">
                                                    <i
                                                        v-for="n in oneUser.rating"
                                                        class="bi bi-star-fill me-1 text-warning"
                                                    ></i>
                                                    <i
                                                        v-for="n in (5-oneUser.rating)"
                                                        class="bi bi-star me-1 text-warning"
                                                    ></i> </div
                                            ></template>
                                            <br />
                                            <button
                                                v-if="!oneUser.hasRated"
                                                type="button"
                                                class="btn btn-outline-primary"
                                                @click.stop="showRatingModal(oneUser.uid, oneUser.name)"
                                            >
                                                <i class="bi bi-star"></i>&nbsp Rate
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </template>
                            <li v-if="acceptedUser.length==0" class="list-group-item"
                                >You don't have any buddy. Go to dashboard to find one!</li
                            >
                        </ul>
                    </div>
                </div>
            </div>
            <footer-component></footer-component>
        </div>
    </body>
    <script>
        const app = Vue.createApp({
            el: '#app',
            data() {
                return {
                    isLoading: false,
                    userAvailable: [],
                    isModalOpen: false,
                    isRatingModalOpen: false,
                    acceptedUser: [],
                };
            },
            mounted() {
                this.isLoading = true;
                let getData = [this.getAllUsers()];
                Promise.all(getData).then(() => {
                    this.isLoading = false;
                });
            },
            methods: {
                goToOtherProfile(uid) {
                    window.location.href = '/user/profilepage?uid=' + uid;
                },
                changeLoading() {
                    this.isLoading = !this.isLoading;
                },
                closeModal() {
                    this.isModalOpen = false;
                    this.isRatingModalOpen = false;
                },
                showModal(uid, name) {
                    this.isModalOpen = true;
                    this.$refs.modal.uid = uid;
                    this.$refs.modal.name = name;
                },
                showRatingModal(uid, name) {
                    this.isRatingModalOpen = true;
                    this.$refs.ratingModal.uid = uid;
                    this.$refs.ratingModal.name = name;
                },
                getAllUsers() {
                    this.isModalOpen = false;
                    this.isLoading = true;
                    return axios
                        .get('../services/GetAllPendingRequest')
                        .then(({ data }) => {
                            console.log(data);
                            this.userAvailable = data.users;
                            this.acceptedUser = data.buddy;
                            this.isLoading = false;
                        })
                        .catch((error) => {
                            console.log(error);
                            this.isLoading = false;
                        });
                },
            },
        });
        app.component('connect-modal-component', connectModalComponent);
        app.component('rating-modal-component', ratingModalComponent);
        app.component('navbar-component', navbar);
        app.component('loading-component', loadingPage);
        app.component('footer-component', footer);
        app.mount('#app');
    </script>
</html>
