<html>
    <head>
        <title>SMU Study Buddy</title>
        <link rel="shortcut icon" type="image/png" href="/img/logo.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/toast.css" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <script src="/dist/bundle.js"></script>
        <link rel="stylesheet" href="/css/bootstrap-icons.css" />
    </head>

    <body>
        <div id="app">
            <loading-component v-show="isLoading"></loading-component>
            <navbar-component></navbar-component>
            <telegram-modal-component
                ref="modal"
                v-show="isModalOpen"
                v-on:closemodal="closeModal()"
                v-on:refresh="getUserProfile()"
            ></telegram-modal-component>
            <div class="content">
                <section class="section">
                    <div class="h-100 container">
                        <div class="h-100 mt-3 d-flex flex-column justify-content-center align-items-center">
                            <h3>My Profile</h3>
                            <br />
                            <form class="form w-100">
                                <div class="row">
                                    <label>Telegram Handle:</label>
                                    <div class="input-group mb-3">
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="Telegram Handle"
                                            v-model="userTelegram"
                                            required
                                            :disabled="true"
                                        />
                                        <button type="button" @click="showModal()" class="btn btn-primary float-end"
                                            >Change</button
                                        >
                                    </div>
                                </div>
                            </form>
                            <form class="form">
                                <div class="row">
                                    <label>Schoool</label>
                                    <div class="input-group mb-3">
                                        <select v-model="userSchool" class="form-select" required>
                                            <option v-for="oneSchool in schoolOptions" :value="oneSchool.id">
                                                {{oneSchool.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <label>Course</label>
                                    <div class="input-group mb-3">
                                        <select v-model="userCourse" class="form-select" required>
                                            <option v-for="oneCourse in courseOption" :value="oneCourse.id">
                                                {{oneCourse.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <label>Modules taking/taken</label>
                                    <div class="input-group mb-3">
                                        <span class="ms-3" v-if="userMods.length<1"
                                            >*Please select at least 4 mods</span
                                        >
                                        <template v-for="oneMod in userMods">
                                            <span @click="removeMod(oneMod)" class="badge bg-secondary m-1"
                                                >{{oneMod.id}} <i class="bi bi-x-lg"></i>
                                            </span>
                                        </template>
                                    </div>
                                    <label>Search for modules</label>
                                    <div class="input-group mb-3 autocomplete">
                                        <input v-model="searchMods" class="form-control" />
                                        <div v-if="searchMods" class="autocomplete-items">
                                            <div v-for="oneMod in filterModsOption" @click="chooseMod(oneMod)">
                                                {{oneMod.id}} - {{oneMod.name}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button
                                    type="button"
                                    @click="submitProfile"
                                    :disabled="!isFormComplete"
                                    class="btn btn-primary float-end"
                                    >Update</button
                                >
                            </form>
                        </div>
                    </div>
                </section>
            </div>
            <footer-component></footer-component>
        </div>
    </body>
    <script>
        const app = Vue.createApp({
            el: '#app',
            data() {
                return {
                    isLoading: false,
                    schoolOptions: null,
                    allCourseOptions: [],
                    allModsOptions: [],
                    userSchool: 1,
                    userCourse: null,
                    userMods: [],
                    searchMods: '',
                    userTelegram: '',
                    isModalOpen: false,
                };
            },
            mounted() {
                let getData = [this.getAllUserSetting()];
                Promise.all(getData).then(() => {
                    this.getUserProfile();
                });
            },
            methods: {
                closeModal() {
                    this.isModalOpen = false;
                },
                showModal() {
                    this.isModalOpen = true;
                },
                getAllUserSetting() {
                    return axios
                        .get('../services/GetAllUserSetting')
                        .then(({ data }) => {
                            this.allModsOptions = data.mods;
                            this.allCourseOptions = data.course;
                            this.schoolOptions = data.school;
                        })
                        .catch((error) => {
                            this.isLoading = false;
                        });
                },
                getUserProfile() {
                    this.isModalOpen = false;
                    this.isLoading = true;
                    return axios
                        .get('../services/GetUserProfile')
                        .then(({ data }) => {
                            this.userTelegram = data.user.telegram;
                            this.userSchool = data.user.school;
                            this.userCourse = data.user.course;
                            this.userMods = data.mods;
                            this.isLoading = false;
                        })
                        .catch((error) => {
                            this.isLoading = false;
                        });
                },

                chooseMod(oneMod) {
                    this.userMods.push(oneMod);
                    this.searchMods = '';
                },
                removeMod(oneMod) {
                    this.userMods = this.userMods.filter(function (value, index, arr) {
                        return value != oneMod;
                    });
                },
                submitProfile() {
                    this.isLoading = true;
                    return axios
                        .post('../services/UpdateProfile', {
                            school: this.userSchool,
                            course: this.userCourse,
                            mods: this.userMods,
                        })
                        .then(({ data }) => {
                            let getData = [this.getUserProfile()];
                            Promise.all(getData).then(() => {
                                this.isLoading = false;
                                toast('Updated Successfully', {
                                    position: 'top-right',
                                    type: 'info',
                                    showIcon: 'true',
                                });
                            });
                        })
                        .catch((error) => {
                            this.isLoading = false;
                            console.log(error.response);
                            toast(error.response.data.msg, {
                                position: 'top-right',
                                type: 'danger',
                                showIcon: 'true',
                            });
                        });
                },
            },
            computed: {
                courseOption() {
                    let temp = [];
                    this.allCourseOptions.forEach((oneCourse) => {
                        if (oneCourse.schoolId == this.userSchool) {
                            temp.push(oneCourse);
                        }
                    });
                    if (temp.filter((e) => e.id == this.userCourse).length === 0) {
                        this.userCourse = null;
                    }
                    return temp;
                },
                modsOption() {
                    let temp = [];
                    this.allModsOptions.forEach((oneMod) => {
                        if (this.userMods.filter((e) => e.id == oneMod.id).length == 0) {
                            temp.push(oneMod);
                        }
                    });
                    return temp;
                },

                filterModsOption() {
                    let temp = [];
                    if (this.searchMods) {
                        this.modsOption.forEach((oneMod) => {
                            if (
                                oneMod.id.toLowerCase().includes(this.searchMods.toLowerCase()) ||
                                oneMod.name.toLowerCase().includes(this.searchMods.toLowerCase())
                            ) {
                                temp.push(oneMod);
                            }
                        });
                    }
                    return temp;
                },
                isFormComplete() {
                    if (this.userSchool && this.userCourse && this.userMods.length > 3) {
                        return true;
                    } else {
                        return false;
                    }
                },
            },
        });
        app.component('telegram-modal-component', telegramModalComponent);
        app.component('navbar-component', navbar);
        app.component('loading-component', loadingPage);
        app.component('footer-component', footer);
        app.mount('#app');
    </script>
</html>
