<html>
    <head>
        <title>SMU Study Buddy</title>
        <link rel="shortcut icon" type="image/png" href="/img/logo.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/toast.css" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <script src="/dist/bundle.js"></script>
        <link rel="stylesheet" href="/css/bootstrap-icons.css" />
    </head>

    <body>
        <div id="app">
            <loading-component v-show="isLoading"></loading-component>
            <navbar-component></navbar-component>
            <div class="content">
                <section class="section">
                    <div class="container">
                        <div class="mt-3 d-flex flex-column justify-content-center align-items-center">
                            <h3>Setup your profile</h3>
                            <br />
                            <form class="form">
                                <div class="row">
                                    <label>Telegram Handle</label>

                                    <div class="input-group mb-3">
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="Telegram Handle"
                                            v-model="userTelegram"
                                            required
                                            :disabled="hasUserClickVerify"
                                        />
                                        <button
                                            type="button"
                                            :disabled="isTelegramVerifyButtonDisabled||hasUserClickVerify"
                                            @click="verifyUsername"
                                            class="btn btn-primary float-end"
                                            >Verify</button
                                        >
                                    </div>
                                    <template v-if="hasUserClickVerify">
                                        <label>OTP</label>
                                        <div class="input-group mb-3">
                                            <input
                                                type="text"
                                                class="form-control"
                                                placeholder="OTP"
                                                v-model="userOTP"
                                                required
                                                :disabled="usernameVerified"
                                            />
                                            <button
                                                type="button"
                                                :disabled="usernameVerified"
                                                @click="verifyUsername"
                                                class="btn btn-primary float-end"
                                                >Resend</button
                                            >
                                            <button
                                                type="button"
                                                @click="resetTelegram"
                                                class="btn btn-danger float-end"
                                                >Cancel</button
                                            >
                                            <button
                                                type="button"
                                                :disabled="!userOTP || usernameVerified"
                                                @click="verifyOTP"
                                                class="btn btn-success float-end"
                                                >Confirm</button
                                            >
                                        </div>
                                    </template>
                                    <label>Schoool</label>
                                    <div class="input-group mb-3">
                                        <select v-model="userSchool" class="form-select" required>
                                            <option v-for="oneSchool in schoolOptions" :value="oneSchool.id">
                                                {{oneSchool.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <label>Course</label>
                                    <div class="input-group mb-3">
                                        <select v-model="userCourse" class="form-select" required>
                                            <option v-for="oneCourse in courseOption" :value="oneCourse.id">
                                                {{oneCourse.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="input-group mb-3">
                                        <label>Modules taking/taken: </label>
                                        <span class="ms-3" v-if="userMods.length<1"
                                            >*Please select at least 4 mods</span
                                        >
                                        <template v-for="oneMod in userMods">
                                            <span @click="removeMod(oneMod)" class="badge bg-secondary m-1"
                                                >{{oneMod.id}} <i class="bi bi-x-lg"></i>
                                            </span>
                                        </template>
                                    </div>
                                    <label>Search for modules</label>

                                    <div class="input-group mb-3 autocomplete">
                                        <input v-model="searchMods" class="form-control" />
                                        <div v-if="searchMods" class="autocomplete-items">
                                            <div v-for="oneMod in filterModsOption" @click="chooseMod(oneMod)">
                                                {{oneMod.id}} - {{oneMod.name}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button
                                    type="button"
                                    @click="submitProfile"
                                    :disabled="!isFormComplete"
                                    class="btn btn-primary float-end"
                                    >Submit</button
                                >
                            </form>
                        </div>
                    </div>
                </section>
            </div>
            <footer-component></footer-component>
        </div>
    </body>
    <script>
        const app = Vue.createApp({
            el: '#app',
            data() {
                return {
                    isLoading: false,
                    schoolOptions: null,
                    allCourseOptions: [],
                    allModsOptions: [],
                    userSchool: 1,
                    userCourse: null,
                    userMods: [],
                    searchMods: '',
                    //Telegram related fields
                    userTelegram: '',
                    usernameVerified: false,
                    userOTP: '',
                    hasUserClickVerify: false,
                };
            },
            mounted() {
                let getData = [this.getAllUserSetting()];
                Promise.all(getData).then(() => {
                    this.isLoading = false;
                });
            },
            methods: {
                verifyUsername() {
                    this.isLoading = true;

                    return axios
                        .post('../services/CheckTelegramHandle', {
                            handle: this.userTelegram,
                        })
                        .then(({ data }) => {
                            this.isLoading = false;
                            this.hasUserClickVerify = true;
                            toast('OTP has been sent to the Telegram handle', {
                                position: 'top-right',
                                type: 'info',
                                showIcon: 'true',
                            });
                        })
                        .catch((error) => {
                            this.isLoading = false;
                            toast(error.response.data.msg, {
                                position: 'top-right',
                                type: 'danger',
                                showIcon: 'true',
                            });
                        });
                },
                verifyOTP() {
                    this.isLoading = true;

                    return axios
                        .post('../services/VerifyOTP', {
                            handle: this.userTelegram,
                            otp: this.userOTP,
                        })
                        .then(({ data }) => {
                            this.isLoading = false;
                            this.usernameVerified = true;
                            toast('Telegram has been verified', {
                                position: 'top-right',
                                type: 'info',
                                showIcon: 'true',
                            });
                        })
                        .catch((error) => {
                            this.isLoading = false;
                            toast(error.response.data.msg, {
                                position: 'top-right',
                                type: 'danger',
                                showIcon: 'true',
                            });
                        });
                },
                getAllUserSetting() {
                    return axios
                        .get('../services/GetAllUserSetting')
                        .then(({ data }) => {
                            this.allModsOptions = data.mods;
                            this.allCourseOptions = data.course;
                            this.schoolOptions = data.school;
                        })
                        .catch((error) => {
                            this.isLoading = false;
                        });
                },
                resetTelegram() {
                    this.userTelegram = '';
                    this.usernameVerified = false;
                    this.userOTP = '';
                    this.hasUserClickVerify = false;
                },
                chooseMod(oneMod) {
                    this.userMods.push(oneMod);
                    this.searchMods = '';
                },

                removeMod(oneMod) {
                    this.userMods = this.userMods.filter(function (value, index, arr) {
                        return value != oneMod;
                    });
                },
                submitProfile() {
                    this.isLoading = true;
                    return axios
                        .post('../services/SetProfile', {
                            handle: this.userTelegram,
                            school: this.userSchool,
                            course: this.userCourse,
                            mods: this.userMods,
                        })
                        .then(({ data }) => {
                            console.log(data);
                            window.location.href = '/user/dashboard';
                        })
                        .catch((error) => {
                            this.isLoading = false;
                            console.log(error.response);
                            toast(error.response.data.msg, {
                                position: 'top-right',
                                type: 'danger',
                                showIcon: 'true',
                            });
                        });
                },
            },
            computed: {
                isTelegramVerifyButtonDisabled() {
                    if (!this.userTelegram) {
                        return true;
                    } else {
                        return false;
                    }
                },
                courseOption() {
                    let temp = [];
                    this.userCourse = null;
                    this.allCourseOptions.forEach((oneCourse) => {
                        if (oneCourse.schoolId == this.userSchool) {
                            temp.push(oneCourse);
                        }
                    });
                    return temp;
                },
                modsOption() {
                    let temp = [];
                    this.allModsOptions.forEach((oneMod) => {
                        if (!this.userMods.includes(oneMod)) {
                            temp.push(oneMod);
                        }
                    });

                    return temp;
                },

                filterModsOption() {
                    let temp = [];
                    if (this.searchMods) {
                        this.modsOption.forEach((oneMod) => {
                            if (
                                oneMod.id.toLowerCase().includes(this.searchMods.toLowerCase()) ||
                                oneMod.name.toLowerCase().includes(this.searchMods.toLowerCase())
                            ) {
                                temp.push(oneMod);
                            }
                        });
                    }
                    return temp;
                },
                isFormComplete() {
                    if (this.usernameVerified && this.userSchool && this.userCourse && this.userMods.length > 3) {
                        return true;
                    } else {
                        return false;
                    }
                },
            },
        });
        app.component('navbar-component', navbar);
        app.component('loading-component', loadingPage);
        app.component('footer-component', footer);
        app.mount('#app');
    </script>
</html>
